/* Archive */
.post-type-archive-snowfall_cities #primary {
	float: none;
}

.snowfall-cities-grid {
	display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 1rem;
}

.snowfall-city-link {
	display: block;
	width: 100%;
	text-align: center;
}

.snowfall-city-link img {
	transition: opacity 250ms ease;
}

.snowfall-city-link:hover img {
	opacity: .75;
}

.snowfall-city-link h3 {
	background: white; 
	color: #2e54b7;
}

/* Single */

.single-snowfall_records canvas {
	cursor: pointer;
}

.tabs {
	max-width: 600px;
	margin: 0 auto;
}

.tab-list {
	padding-bottom: 1rem;
}

.tab {
	border: 1px solid transparent;
	border-radius: 40px;
	display: inline-block;
	text-decoration: none;
	padding: .5rem 1rem;
	color: rgba(255, 255, 255, .6);
	font-weight: 700;
	background: #71b1f1;
	margin-right: 5px;
	font-size: 1.5rem;
}

.tab-list {
	display: flex;
}

.tab.tab-active {
	color: white;
	background: #2e54b7;
	border: 1px solid rgba(255, 255, 255, .6);
}

.tab-content {
	background: linear-gradient(to bottom right, white, #F8F8F8);
  box-shadow: 0 15px 20px -15px rgba(0, 0, 0, 0.3), 0 35px 50px -25px rgba(0, 0, 0, 0.3), 0 85px 60px -25px rgba(0, 0, 0, 0.1);
	display: none;
	padding: 1.5rem;
	color: #4a5666;
}

.tab-show {
	display: block;
}