/* Archive */
.post-type-archive-snowfall_records .page-title {
	text-align: center;
}

.post-type-archive-snowfall_records .taxonomy-description {
	text-align: center;
}

.states-posts {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}

.states-posts > * {
	margin: 10px;
}

.states-list {
	list-style-type: none;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}

/* Single */
.single-snowfall_records canvas {
	background-color: white;
	cursor: pointer;
}

.tabs {
	max-width: 600px;
	margin: 0 auto;
}

.tab-list {
	padding-bottom: 1rem;
}

.tab {
	border: 1px solid transparent;
	border-radius: 40px;
	display: inline-block;
	text-decoration: none;
	padding: .5rem 1rem;
	color: rgba(255, 255, 255, .6);
	font-weight: 700;
	background: #71b1f1;
	margin-right: 5px;
	font-size: 1.5rem;
}

.tab-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.tab.tab-active {
	color: white;
	background: #2e54b7;
	border: 1px solid rgba(255, 255, 255, .6);
}

.tab-content,
#greatest-snowfall {
	background: -webkit-gradient(linear, left top, right bottom, from(white), to(#F8F8F8));
	background: -o-linear-gradient(top left, white, #F8F8F8);
	background: linear-gradient(to bottom right, white, #F8F8F8);
  -webkit-box-shadow: 0 15px 20px -15px rgba(0, 0, 0, 0.3), 0 35px 50px -25px rgba(0, 0, 0, 0.3), 0 85px 60px -25px rgba(0, 0, 0, 0.1);
  box-shadow: 0 15px 20px -15px rgba(0, 0, 0, 0.3), 0 35px 50px -25px rgba(0, 0, 0, 0.3), 0 85px 60px -25px rgba(0, 0, 0, 0.1);
	padding: 1.5rem;
	color: #4a5666;
	margin-bottom: 60px;
}

.tab-content {
	display: none;
}

.tab-show {
	display: block;
}

.text-center {
	text-align: center;
}